<form>
    <div *ngFor="let question of questions; let i=index " class="row">
        <div  *ngIf="i==index"  class="col-xs-12">
             <div  class="row"  >
                    <div  class="col-xs-12 " >
                        <h1>
                            {{question.question}}
                        </h1>
                    </div>
             </div>
               <br><br>

             <div class="row">
                 <div class="col-xs-1 col-sm-offset-4">
                    <button type="submit" class="btn btn-success" (click)="onChooseQuestion(question,question.optionA)">{{question.optionA}}</button>
                  </div>
                 <div class="col-xs-1 col-sm-offset-1">
                     <button type="submit" class="btn btn-success"  (click)="onChooseQuestion(question,question.optionB)">{{question.optionB}}</button>
                 </div>
             </div>
               <br> <br>
             <div class="row">
                   <div class="col-xs-1 col-sm-offset-4">
                       <button type="submit" class="btn btn-success"  (click)="onChooseQuestion(question,question.optionC)">{{question.optionC}}</button>
                   </div>
                   <div class="col-xs-1 col-sm-offset-1">
                       <button type="submit" class="btn btn-success"  (click)="onChooseQuestion(question,question.optionD)">{{question.optionD}}</button>
                   </div>
             </div>
            </div>

        </div>

</form>