<div *ngFor="let question of questions; let i=index " class="row">
   <div  *ngIf="i==3"  class="col-xs-12">
       <form>

         <div  class="row"  >
                <div  class="col-xs-12 " >
                    <h1>
                        {{question.question}} Correct :  {{ rightQuestions.length-1}} Wrong : {{  rightQuestions.length-1}}
                    </h1>
                </div>
         </div>
           <br><br>

         <div class="row">
             <div class="col-xs-1 col-sm-offset-4">
                <button type="submit" class="btn btn-success" (click)="onChooseQuestion(question,question.optionA)">{{question.optionA}}</button>
              </div>
             <div class="col-xs-1 col-sm-offset-1">
                 <button type="submit" class="btn btn-success"  (click)="onChooseQuestion(question,question.optionA)">{{question.optionB}}</button>
             </div>
         </div>
           <br> <br>
         <div class="row">
               <div class="col-xs-1 col-sm-offset-4">
                   <button type="submit" class="btn btn-success"  (click)="onChooseQuestion(question,question.optionA)">{{question.optionC}}</button>
               </div>
               <div class="col-xs-1 col-sm-offset-1">
                   <button type="submit" class="btn btn-success"  (click)="onChooseQuestion(question,question.optionA)">{{question.optionD}}</button>
               </div>
         </div>

       </form>
   </div>
</div>