
<!DOCTYPE html>
<div class="container">

    <div class="row">
        <div  class="col-md-12 col-md-offset-2" style="background-color: green">
            <h1 >{{question}}  </h1>
        </div>
    </div>
    <br><br>




    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <button class="btn-primary" (click)="nextQuestion()">{{optionA}}</button>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <button class="btn-primary" (click)="nextQuestion()">{{optionB}}</button>
        </div>
    </div>
    <br><br>


    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <button class="btn-primary" (click)="nextQuestion()">{{optionC}}</button>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <button class="btn-primary" (click)="nextQuestion()">{{optionD}}</button>
        </div>
    </div>

</div>
